[Unit]
Description=Reconfigure PIA VPN tunnel on %I
ConditionFileIsExecutable=/usr/local/bin/pia-setup-tunnel
ConditionPathIsDirectory=/var/cache/pia
ConditionPathExists=/etc/pia.conf

[Service]
EnvironmentFile=/etc/pia.conf
Type=oneshot
ExecStart=/usr/local/bin/pia-setup-tunnel -username $PIA_USERNAME -password $PIA_PASSWORD -ifname %I
ExecStartPost=-/usr/bin/ip link set down dev %I
ExecStartPost=-/usr/bin/ip link del %I
ExecStartPost=/usr/bin/networkctl reload
ExecStartPost=/usr/bin/networkctl reconfigure %I
ExecStartPost=/usr/bin/networkctl up %I
ExecStartPost=/usr/bin/sleep 10
ExecStartPost=-/usr/local/bin/pia-portforward -ifname %I -rtorrent $RTORRENT_URL
